@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/bundles/guide");
}

<h2>MDN Guide</h2>


<button id="btn-showArray">Array</button>
<button id="btn-showSet">Set</button>

<p id="infoOutput"></p>