<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/Scripts/Common")
    @Styles.Render("~/Content/Themes")

</head>
<body>

<div id="header">


    <div class="list-group">
        <a href="/Debug/ViewDebug" class="list-group-item">Debug</a>
        <a href="/Advanced/ViewAdvanced" class="list-group-item">Advanced</a>
        <a href="/Fundamentals/ViewFundamentals" class="list-group-item">Fundamentals</a>
    </div>

</div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
