@using System.Web.Optimization

@{
    ViewBag.Title = "ViewJQuery";
    Layout = "~/Views/Shared/Site_LayoutPage.cshtml";
}

@Scripts.Render("~/Scripts/JQuery")
@Scripts.Render("~/Scripts/JQuery2")

<h2>ViewJQuery</h2>

@*click to hide*@
<p id="hiddenByClick">Click to hide.</p>
<br />

@*hide parent*@
<p id="hideParent" style="border:2px solid red;">
    <button id="btn-hideParent">Hide</button>
    Here is parent info.
</p>
<br/>

@*hide and show*@
<p id="hideAndShow">
    <button id="btn-hideAndShow-hide">Hide</button>
    <button id="btn-hideAndShow-show">Show</button>
    <span id="span-hideAndShow">Here is hide and show info.</span>
</p>

@*show element*@
<p id="showElement">Here is <b>element</b> info.</p>
<button id="btn-showElement">log Text+HTML+Value</button>
<p id="showElementResult"></p>
<br />

@*change element attr*@
<p id="changeElementAttr">
    <a id="linkElement" href="test.com" title="test">Test.COM</a>
    <button id="btn-ChangeElement" >Change Element</button>
</p>


@*append elements*@
<p id="appendElements">
    <input id="input-appendElements" value="5"/>
    <button id="btn-appendElements">Add Items</button>
    <ol id="li-appendElements">
        <li>List Item 1</li>
        <li>List Item 2</li>
    </ol>
</p>

<script>

</script>