@using System.Web.Optimization

@{
    ViewBag.Title = "ViewJQuery";
    Layout = "~/Views/Shared/Site_LayoutPage.cshtml";
}

@Scripts.Render("~/Scripts/JQuery")
@Scripts.Render("~/Scripts/JQuery2")

<h2>ViewJQuery</h2>

@*click to hide*@
<p id="hiddenByClick">Click to hide.</p>