@{
    ViewBag.Title = "ViewJavascript";
    Layout = "~/Views/Shared/Site_LayoutPage.cshtml";
}

<h2>ViewJavascript</h2>

@Scripts.Render("~/Scripts/Javascript")


@*js-demo-trycatch*@
<ul>
    <li>
        <p>input digit number 5 to 10 :</p>
        <input id="js-demo-trycatch-input"/>
        <button type="button" onclick="tryCatch()">test input</button>
        <p id="js-demo-trycatch-result"></p>
    </li>
</ul>




@*js-demo-array*@
<ul>
    <li>
        <p>try to loop array</p>
        <button type="button" onclick="loopArray()">Loop array</button>
        <p id="js-demo-array-result"></p>
    </li>
</ul>


@*js-demo-math*@
<ul>
    <li>
        <button id="js-demo-math-random-btn" type="button" onclick="randomNumber('start')">Random Now!</button>
        <p id="js-demo-math-random"></p>
    </li>
</ul>

@*js-demo-string*@
<ul>
    <li>
        <input type="text" id="js-demo-string-split-input" onkeyup="splitString()"/>
        <span id="js-demo-string-split-output"></span>
    </li>
</ul>


@*js-demo-intro*@
<ul>
    <p>Please input a number between 1 and 10:</p>
    <li><input id="js-intro-input"/>
    <button type="button" onclick="introInput()">Submit</button>
    <p id="js-intro-input-result"></p>
    </li>
</ul>


<ul>
    <p id="js-intro-style">JS can change style in here.</p>
    <button type="button" onclick="changeStyle()">Change Style</button>
</ul>
<ul>
    <img id="js-intro-bulb" src="~/Content/Resources/pic_bulboff.gif" alt="switch bulb" onclick="switchBulb()" />
    <p>Click the light bulb to trun on/off the light.</p>
</ul>

@*js-demo-home*@
<ul>
    <button type="button" onclick="document.getElementById('js-demo-home').innerHTML = Date()">Click me to display Date.</button>
    <p id="js-demo-home"></p>
</ul>
