@{
    Layout = "~/Views/Shared/Site_LayoutPage.cshtml"; 
    ViewBag.Title = "ViewFundamentals";
    
}

@*<script src="~/Scripts/_debug.js"></script>*@
<h2>ViewFundamentals</h2>

<div id="textDiv">
    <div id="nestedDiv"></div>
</div>

<div id="timerDiv"></div>

@Scripts.Render("~/Scripts/Fundamentals")


