@{
    ViewBag.Title = "ViewFundamentals";
    Layout = "~/Views/Shared/Site_LayoutPage.cshtml"; 
    
}


<h2>ViewFundamentals</h2>

<div id="textDiv">
    <div id="nestedDiv"></div>
</div>

<div id="timerDiv"></div>

@Scripts.Render("~/Scripts/Fundamentals")


